.pydevproject
.project
.settings/*
db.sqlite3
css3two_blog/migrations/*
css3two_blog/static/css3two_blog/css/unused/*
css3two_blog/static/css3two_blog/images_before_compression/*
*.pyc
*.swp
*.swo
.idea
.DS_Store
my_blog/.ropeproject/
.ropeproject
.python-version
