article {
    padding-left: 55px;
    padding-right: 43px;
    padding-top: 1em;
}

article header {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    background: url("../images/title_bg.png") bottom left repeat-x;
}

h1.entry-title {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.5em;
}


#blog-archives {
    color: #aaa;
}

#blog-archives h2 {
    margin-bottom: .3em;
    padding-top: 0.8em;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -1px;
    float: left;
    font-size: 1.9em;
    color: #aaa;
    background: url("../images/title_bg.png") top left repeat-x;
}

#blog-archives article {
    padding-left: 6em;
    padding-bottom: 1.1em;
    padding-top: 1.5em;
    margin-left: 6em;
    position: relative;
    display: block;
    font-size: 100%;
    background: url("../images/title_bg.png") bottom left repeat-x;
}

article header#category {
    position: relative;
    margin-top: 2em;
    margin-bottom: 0;
    text-align: right;
}

#blog-archives h2:first-child {
    padding-top: 0.8em;
    background: none;
}

#blog-archives time {
    position: absolute;
    text-align: right;
    left: 0.2em;
    top: 2.15em;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: bold;
    vertical-align: baseline;
    font-family: 'PT Sans Caption', "Helvetica Neue", Arial, sans-serif;
}

#blog-archives h1 {
    font-size: 1.9em;
    color: #222;
    margin-bottom: .2em;
    margin-top: 0;
    font-weight: bold;
    line-height: 1.1em;
}

#blog-archives h1 a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#blog-archives h1 a:hover {
    color: #83CDF7;
    text-decoration: underline;
}

article h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    padding: 0 0 7px 0;
    font-weight: bold;
}

article h1 a {
    font-family: "Crimson Text","Verdana",sans-serif;
    font-weight: bold;
}

#blog-archives article footer {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Caption',"Helvetica Neue",Arial,sans-serif;
    display: block;
}

