@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans-webfont.woff') format('woff'),
         url('../fonts/droidsans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: "Hiragino Sans GB", "冬青黑体简体中文", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体",
'droid_sansregular', arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  /*padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;*/
}
 
body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }
 
a {
  color: #4183C4; }
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
 
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }
 
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../images/para.png") no-repeat 10px center;
  text-decoration: none; }

code {
    font-family: monaco, consolas;
}

p code, li code {   /* from Paul Irish's blog */
    display: inline-block;
    background: #fff;
    font-size: .8em;
    line-height: 1.5em;
    color: #E9681F;
    border: 1px solid #ddd;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    border-radius: .4em;
    padding: 0 .3em;
    margin: -1px 0;
}

h1 tt, h1 code {
  font-size: inherit; }
 
h2 tt, h2 code {
  font-size: inherit; }
 
h3 tt, h3 code {
  font-size: inherit; }
 
h4 tt, h4 code {
  font-size: inherit; }
 
h5 tt, h5 code {
  font-size: inherit; }
 
h6 tt, h6 code {
  font-size: inherit; }
 
h1 {
  font-size: 28px;
  color: black; }
 
h2 {
  font-size: 24px;
  color: black; }
 
h3 {
  font-size: 18px; }
 
h4 {
  font-size: 16px; }
 
h5 {
  font-size: 14px; }
 
h6 {
  color: #777777;
  font-size: 14px; }
 
p, blockquote, ul, ol, dl, li, table, pre {
  margin: 3px 0; }
 
hr {
  background: transparent url("../images/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }
 
body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }
 
a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }
 
h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }
 
li p.first {
  display: inline-block; }
 
ul, ol {
  padding-left: 30px; }
 
ul :first-child, ol :first-child {
  margin-top: 0; }
 
ul :last-child, ol :last-child {
  margin-bottom: 0; }
 
dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }
 
blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }
 
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
 
img {
  max-width: 100%; }
 
span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }
 
code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }
 
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }
 
.highlight pre {
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
 
pre {
  background-color: #333333;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  border-radius: 3px;
  font-family: monaco, consolas;
}

pre code, pre tt {
    background-color: transparent;
    border: none;
    color: #EEE;
}

br + br { display: none; }    /* remove multiple <br>s */


/* code hilite from monokai.css */

.highlight pre { background: #333333; color: #EEE}
.highlight pre .hll { background-color: #ffffcc }
.highlight pre .c { color: #87ceeb} /* Comment */
.highlight pre .err { color: #EEE} /* Error */
.highlight pre .g { color: #EEE} /* Generic */
.highlight pre .k { color: #f0e68c} /* Keyword */
.highlight pre .l { color: #EEE} /* Literal */
.highlight pre .n { color: #EEE} /* Name */
.highlight pre .o { color: #EEE} /* Operator */
.highlight pre .x { color: #EEE} /* Other */
.highlight pre .p { color: #EEE} /* Punctuation */
.highlight pre .cm { color: #87ceeb} /* Comment.Multiline */
.highlight pre .cp { color: #cd5c5c} /* Comment.Preproc */
.highlight pre .c1 { color: #87ceeb} /* Comment.Single */
.highlight pre .cs { color: #87ceeb} /* Comment.Special */
.highlight pre .gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
.highlight pre .ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
.highlight pre .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
.highlight pre .gh { color: #cd5c5c} /* Generic.Heading */
.highlight pre .gi { color: #EEE; background-color: #0000c0 } /* Generic.Inserted */
.highlight pre .go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output */
.highlight pre .gp { color: #EEE} /* Generic.Prompt */
.highlight pre .gs { color: #EEE} /* Generic.Strong */
.highlight pre .gu { color: #cd5c5c} /* Generic.Subheading */
.highlight pre .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
.highlight pre .kc { color: #f0e68c} /* Keyword.Constant */
.highlight pre .kd { color: #f0e68c} /* Keyword.Declaration */
.highlight pre .kn { color: #f0e68c} /* Keyword.Namespace */
.highlight pre .kp { color: #f0e68c} /* Keyword.Pseudo */
.highlight pre .kr { color: #f0e68c} /* Keyword.Reserved */
.highlight pre .kt { color: #bdb76b} /* Keyword.Type */
.highlight pre .ld { color: #EEE} /* Literal.Date */
.highlight pre .m { color: #EEE} /* Literal.Number */
.highlight pre .s { color: #EEE} /* Literal.String */
.highlight pre .na { color: #EEE} /* Name.Attribute */
.highlight pre .nb { color: #EEE} /* Name.Builtin */
.highlight pre .nc { color: #EEE} /* Name.Class */
.highlight pre .no { color: #ffa0a0} /* Name.Constant */
.highlight pre .nd { color: #EEE} /* Name.Decorator */
.highlight pre .ni { color: #ffdead} /* Name.Entity */
.highlight pre .ne { color: #EEE} /* Name.Exception */
.highlight pre .nf { color: #EEE} /* Name.Function */
.highlight pre .nl { color: #EEE} /* Name.Label */
.highlight pre .nn { color: #EEE} /* Name.Namespace */
.highlight pre .nx { color: #EEE} /* Name.Other */
.highlight pre .py { color: #EEE} /* Name.Property */
.highlight pre .nt { color: #f0e68c} /* Name.Tag */
.highlight pre .nv { color: #98fb98} /* Name.Variable */
.highlight pre .ow { color: #EEE} /* Operator.Word */
.highlight pre .w { color: #EEE} /* Text.Whitespace */
.highlight pre .mf { color: #EEE} /* Literal.Number.Float */
.highlight pre .mh { color: #EEE} /* Literal.Number.Hex */
.highlight pre .mi { color: #EEE} /* Literal.Number.Integer */
.highlight pre .mo { color: #EEE} /* Literal.Number.Oct */
.highlight pre .sb { color: #EEE} /* Literal.String.Backtick */
.highlight pre .sc { color: #EEE} /* Literal.String.Char */
.highlight pre .sd { color: #EEE} /* Literal.String.Doc */
.highlight pre .s2 { color: #EEE} /* Literal.String.Double */
.highlight pre .se { color: #EEE} /* Literal.String.Escape */
.highlight pre .sh { color: #EEE} /* Literal.String.Heredoc */
.highlight pre .si { color: #EEE} /* Literal.String.Interpol */
.highlight pre .sx { color: #EEE} /* Literal.String.Other */
.highlight pre .sr { color: #EEE} /* Literal.String.Regex */
.highlight pre .s1 { color: #EEE} /* Literal.String.Single */
.highlight pre .ss { color: #EEE} /* Literal.String.Symbol */
.highlight pre .bp { color: #EEE} /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #98fb98} /* Name.Variable.Class */
.highlight pre .vg { color: #98fb98} /* Name.Variable.Global */
.highlight pre .vi { color: #98fb98} /* Name.Variable.Instance */
.highlight pre .il { color: #EEE} /* Literal.Number.Integer.Long */
