@media screen and (max-width: 768px) {
  article {
    padding-left: 1.3rem !important;
    padding-top: 0 !important;
    font-size: 1.1rem !important;
  }

  #logo_text {
    left: 2rem !important;
  }

  article p:not(.meta) {
    line-height: 1.5 !important;
    margin-bottom: 1.5em !important;
  }

  article h1 {
    font-size: 1.6rem !important;
    line-height: 1.4 !important;
  }
}

article {
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.3rem;
  font-size: 1.3rem;
}

.bio p {
  font-size: 1.2rem;
}

#blog-archives {
  color: #aaa;
}

#blog-archives article {
  padding-left: 6em;
  padding-bottom: 1.1em;
  padding-top: 1.5em;
  margin-left: 6em;
  position: relative;
  display: block;
  font-size: 100%;
}

#blog-archives article footer {
  padding: 0;
  margin: 0;
  display: block;
}

#blog-archives article footer,
#blog-archives time {
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, sans-serif;
}

#blog-archives h1 {
  font-size: 1.9em;
  color: #222;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1em;
}

#blog-archives h1 a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#blog-archives h1 a:hover {
  color: #83cdf7;
  text-decoration: underline;
}

#blog-archives h2 {
  margin-bottom: 0.3em;
  padding-top: 0.8em;
  font-weight: 700;
  display: inline-block;
  top: -0.5em;
  float: left;
  font-size: 1.9em;
  color: #aaa;
}

#blog-archives h2,
.blog-index article + article,
div.pagination {
  background: url(../images/title_bg.png) top left repeat-x;
}

#blog-archives h2,
div.pagination {
  position: relative;
}

#blog-archives h2:first-child {
  padding-top: 0.8em;
  background: 0;
}

#blog-archives time {
  position: absolute;
  text-align: right;
  left: 0.2em;
  top: 1.5em;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 700;
  vertical-align: baseline;
}

#hi {
  font-family: "Alegreya Sans", serif;
  font-weight: 400;
  font-size: 2em;
  text-rendering: OptimizeLegibility;
}

#hi,
.bio {
  font-style: italic;
}

#logo {
  width: 1000px;
  height: 200px;
  background: url(../images/logo.png) no-repeat right;
  color: #888;
  padding: 0;
  top: 5px;
  left: 0;
}

#logo,
#main,
#site_content,
footer {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

#logo_text {
  z-index: 1;
  position: absolute;
  top: 2rem;
  left: 3rem;
}

#logo_text a:hover .logo_colour {
  color: #fff;
}

#logo_text h1 a .logo_colour {
  color: #09d4ff;
}

#logo_text h1,
#logo_text h1 a,
#logo_text h1 a:hover {
  padding: 22px 0 0;
  color: #fff;
  text-decoration: none;
}

#logo_text h1,
#logo_text h2 {
  font:
    420% "Yanone Kaffeesatz",
    arial,
    sans-serif;
  text-transform: none;
  margin: 0;
}

#logo_text h2 {
  font-size: 150%;
  padding: 0;
  color: #a8aa94;
}

#menu_container {
  margin: 0 auto;
}

#scroll {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  bottom: 14px;
  right: 0;
  background: red;
  padding: 0;
}

#scroll a {
  margin: 0 0-16.5px;
  padding: 0;
}

#scroll a img,
ul.sf-menu,
ul.sf-menu * {
  margin: 0;
  padding: 0;
}

#scroll a,
#scroll a img {
  float: right;
}

#sidebar_container {
  float: left;
  margin: 0-100%0 0;
  width: 280px;
}

#site_content {
  background: #f0f0f0;
  width: 100%;
}

#social-logos {
  margin-top: 8px;
  padding-left: 0;
  border-top: 1px solid #e0e0e0;
}

#social-logos a,
.sidebar li a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.bio {
  padding-left: 8px;
  font-family: "Alegreya Sans", "Yanone Kaffeesatz", "冬青黑体简体中文",
    "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", arial, serif;
}

.bio .illustration {
  width: 160px;
  padding-left: 19%;
}

.bio .illustration > img {
  border-radius: 100px;
  border: 0#333 solid;
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.content {
  background: #f8f8f8;
  text-align: left;
  width: 100%;
  margin: 0;
  float: left;
  border-right: 1px solid #d0d0d0;
}

.content .blog-index article header {
  background: 0;
}

.content ul {
  margin: 2px 0 22px;
}

.content_container {
  background: #f8f8f8;
  margin-right: 295px;
  padding-top: 1em;
  display: block;
  position: relative;
  height: 100%;
}

.content_item,
.sidebar_item {
  padding: 15px 0;
}

.form_settings {
  margin: 15px 0 0;
}

.form_settings .checkbox {
  margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: 0;
}

.form_settings .submit {
  border: 0;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px;
  cursor: pointer;
  background: #3b3b3b;
  color: #fff;
}

.form_settings .submit,
.form_settings input,
.form_settings textarea {
  font: 100%arial;
  border-radius: 7px 7px;
}

.form_settings input,
.form_settings textarea {
  padding: 5px;
  border: 1px solid #e5e5db;
  background: #fff;
  color: #47433f;
  width: 299px;
}

.form_settings p,
p {
  padding: 0 0 4px;
}

.form_settings select {
  font: 100%arial;
  width: 310px;
}

.form_settings span {
  float: left;
  width: 200px;
  text-align: left;
}

.highlight pre {
  border: 1px solid #ccc;
  padding: 6px 10px;
}

.highlight pre,
pre {
  overflow: auto;
  border-radius: 3px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1d1f21;
  color: #c5c8c6;
}

.hljs span::-moz-selection,
.hljs::-moz-selection {
  background: #373b41;
}

.hljs span::selection,
.hljs::selection {
  background: #373b41;
}

.hljs-addition,
.hljs-doctag,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-string {
  color: #b5bd68;
}

.hljs-attribute,
.hljs-code,
.hljs-selector-id {
  color: #b294bb;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class,
.hljs-type {
  color: #de935f;
}

.hljs-bullet,
.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #81a2be;
}

.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #707880;
}

.hljs-deletion,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol {
  color: #c66;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-name,
.hljs-title {
  color: #f0c674;
}

.hljs-strong {
  font-weight: 700;
}

.hljs-subst,
.hljs-template-tag,
.hljs-template-variable,
.hljs-variable {
  color: #8abeb7;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.paperclip {
  float: left;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  margin: -15px 0-60px -40px;
}

.post_img_big {
  width: 600px;
}

.post_img_medium {
  width: 300px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.sidebar {
  float: left;
  margin: 1.2em 0 17px;
  border-radius: 7px 7px;
  padding: 0 0 5px 1em;
  color: #7a7a68;
}

.sidebar h3 {
  text-shadow: #fff 1px 1px;
  padding: 14px 15px;
  color: #74706e;
  font: 190% "Yanone Kaffeesatz";
  margin: 0 1px 0 10px;
}

.sidebar h4 {
  color: #c00000;
}

.sidebar li a {
  color: #555;
}

.sidebar li a:hover {
  color: #555;
  text-decoration: underline;
}

.sidebar ul li {
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0;
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

.task-list-item {
  list-style-type: none;
}

.task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle;
}

.task-list-item + .task-list-item {
  margin-top: 3px;
}

.title-link a,
div.pagination a {
  color: #000;
  text-decoration: none;
}

.title-link a:hover {
  color: #0181eb;
  text-decoration: underline;
}

.toggle-sidebar {
  outline: 0;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  display: inline-block;
  text-decoration: none;
  color: #cecece;
  width: 9px;
  cursor: pointer;
}

.toggle-sidebar:after {
  position: absolute;
  right: -11px;
  top: 0;
  width: 20px;
  font-size: 1.2em;
  line-height: 1.1em;
  padding-bottom: 0.15em;
  border-bottom-right-radius: 0.3em;
  text-align: center;
  background: #f8f8f8 top left;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  content: "»";
  text-indent: -1px;
}

a {
  text-decoration: none;
  color: #4183c4;
  transition: color 0.3s;
}

a.absent {
  color: #c00;
}

a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

a.blogroll {
  color: #7a7a68;
}

a:hover {
  outline: 0;
  text-decoration: underline;
  color: #0181eb;
}

article blockquote {
  margin-bottom: 1em;
  margin-top: 0.8em;
}

article blockquote > p:not(.meta) {
  padding-bottom: 0;
}

article h1 {
  padding: 0;
  font-weight: 700;
}

article h1 a {
  font-family: "Verdana", sans-serif;
  font-weight: 700;
}

article header time {
  font-family: "PT Sans Caption";
  color: #969696;
}

article header#category {
  position: relative;
  margin-top: 2em;
  margin-bottom: 0;
  text-align: right;
}

article li > p:first-child {
  padding-top: 0;
}

article p:not(.meta) {
  line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

article p:not(.meta) > li {
  line-height: 36px;
  padding-bottom: 10px;
  padding-top: 10px;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

blockquote {
  border-left: 6px solid #ddd;
  padding: 0 1.6em;
  color: #777;
}

blockquote,
dl,
li,
p {
  margin: 3px 0;
}

blockquote > :first-child,
dl dd > :first-child,
table tr td :first-child,
table tr th :first-child {
  margin-top: 0;
}

blockquote > :last-child,
dl dd > :last-child,
table tr td :last-child,
table tr th :last-child {
  margin-bottom: 0;
}

body {
  font-family: "Georgia", "冬青黑体简体中文", "Microsoft YaHei", "微软雅黑", SimSun,
    "宋体", Heiti, "黑体", arial, serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #cfcfcf;
  color: #000;
}

body > :first-child {
  margin-top: 0 !important;
}

body > :last-child {
  margin-bottom: 0 !important;
}

body > div > header {
  background: #404040;
  height: 200px;
}

code {
  font-family: monaco, consolas;
}

code,
tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

div.pagination {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 10px;
  margin-left: 55px;
  margin-right: 55px;
}

div.pagination a {
  color: #aaa;
}

div.pagination a.next {
  position: absolute;
  left: 0;
}

div.pagination a.prev {
  position: absolute;
  right: 0;
}

div.pagination a:hover {
  color: #0181eb;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dt {
  font-weight: 700;
  font-style: italic;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt > :first-child,
ol :first-child,
ul :first-child {
  margin-top: 0;
}

dl dt > :last-child,
ol :last-child,
ul :last-child {
  margin-bottom: 0;
}

dl,
dl dt,
table {
  padding: 0;
}

footer a,
footer a:hover {
  color: #a8aa94;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer p {
  line-height: 1.7em;
  padding: 0 0 10px;
}

footer#site-footer {
  width: 100%;
  font-family: "lucida sans", sans-serif;
  height: 60px;
  padding: 20px 0 5px;
  text-align: center;
  background: #404040 url(../images/footer.png) repeat-x;
  color: #a8aa94;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: text;
  position: relative;
}

h1.entry-title {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  background: url(../images/para.png) no-repeat 10px center;
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
}

h2,
h3 {
  font-size: 160%;
  padding: 9px 0 5px;
}

h3 {
  font-size: 1.25rem;
}

h3 {
  font-size: 140%;
  padding: 5px 0 0;
}

h4,
h5,
h6 {
  margin: 10px 0;
}

h4,
h5,
h6 {
  color: #080;
  font: 120%arial;
  padding: 0 0 5px;
}

h5,
h6 {
  font: italic 95%arial;
  letter-spacing: normal;
  padding: 0 0 15px;
}

header {
  font-family: "Lato", "Verdana", sans-serif;
}

hr {
  background: url(../images/dirty-shade.png) repeat-x 0 0;
  border: 0;
  color: #ccc;
  height: 4px;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

html body ul.sf-menu ul ul {
  margin: 0 0 0 200px;
}

html body ul.sf-menu ul,
html body ul.sf-menu ul li {
  width: 200px;
}

img {
  max-width: 100%;
  border: 0;
}

li p.first {
  display: inline-block;
}

li > code,
p code {
  font-weight: 700;
  background: #f0f0f0;
  font-size: 0.7em;
  line-height: 1.2em;
  color: #2f4f4f;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  padding: 0 0.3em;
  margin: -1px 0;
}

li > pre:last-child {
  margin-bottom: 30px;
}

nav {
  height: 44px;
  width: 100%;
  margin: -44px auto 0;
  background: url(../images/menubar.png);
}

ol {
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px;
}

ol,
ul {
  padding-left: 30px;
}

p {
  line-height: 2em;
}

p a code {
  color: #4183c4;
}

pre {
  line-height: 1.6;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  font-family: monaco, consolas;
  background-color: transparent;
  border: 0;
  color: #eee;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: 0;
  background: 0 0;
}

span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

span.align-center,
span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

span.align-center > span,
span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

span.align-right span img {
  margin: 0;
  text-align: right;
}

span.align-right > span {
  margin: 13px 0 0;
  text-align: right;
}

span.alignright.toggle-sidebar:after {
  right: -2px;
  content: "«";
}

span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

span.float-left span {
  margin: 13px 0 0;
}

span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

span.frame {
  display: block;
  overflow: hidden;
}

span.frame span img,
span.frame > span {
  display: block;
  float: left;
}

span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}

span.frame > span {
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

span.sf-arrow {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden;
  font-size: 1px;
}

table {
  margin: auto;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

table tr td {
  background: #e5e5db;
  color: #47433f;
  border-top: 1px solid #fff;
}

table tr td,
table tr th {
  border: 1px solid #ccc;
  margin: 0;
}

table tr td,
table tr th {
  background: #3b3b3b;
  color: #fff;
  padding: 7px 4px;
  text-align: left;
}

table tr th {
  font-weight: 700;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

ul {
  margin: 2px 0 22px 17px;
}

ul ul span.sf-arrow {
  right: 10px;
  top: 20px;
  background-position: 0 100%;
}

ul#nav {
  float: right;
}

ul#nav li a {
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  color: #fff;
  margin-right: 2px;
}

@media screen and (max-width: 768px) {
  ul#nav li a {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }
}

ul#nav li a:focus,
ul#nav li a:hover {
  color: #0181eb;
}

ul#nav ul {
  background: url(../images/menu_hover.png);
  margin-top: 5px;
  padding-bottom: 15px;
}

ul.sf-menu li {
  list-style: none;
  float: left;
}

ul.sf-menu li:hover {
  visibility: inherit;
}

ul.sf-menu ul {
  position: absolute;
  width: 150px;
  top: auto;
  left: -999999px;
}

ul.sf-menu ul li {
  float: left;
  width: 150px;
}

ul.sf-menu ul ul {
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu,
ul.sf-menu a,
ul.sf-menu li {
  display: block;
  position: relative;
}

/* Social Links Styles */
.social-links {
  margin: 12px 0;
}

.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 8px;
}

.sidebar .social-title {
  font-family: "Alegreya Sans", serif !important;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  color: #333;
  margin: 0 0 8px 0;
  padding: 0;
  text-align: center;
  text-shadow: none;
}

.social-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  padding: 4px 0;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none !important;
  color: #666 !important;
  background: transparent;
  transition: all 0.2s ease;
}

.social-link:hover {
  text-decoration: none !important;
  transform: translateX(4px);
}

.social-link i {
  font-size: 1.1rem;
  width: 18px;
  text-align: center;
}

.social-link span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Hover colors for each platform */
.social-link.twitter:hover {
  color: #1DA1F2 !important;
}

.social-link.mastodon:hover {
  color: #6364FF !important;
}

.social-link.github:hover {
  color: #24292e !important;
}

.social-link.youtube:hover {
  color: #FF0000 !important;
}