body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

@media (max-width: 979px) {
    body {
        margin-top: 0px;
    }
}

.content {
    background-color: #fff;
    border-radius: 6px 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.socialite {
    display: inline;
    float: left;
}

header h1 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -1px;
}

.navbar {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

blockquote {
    font-style: italic;
}

blockquote > p {
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

time.label {
    float: right;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

.socialised {
    display: inline-block;
    width: 120px;
}

.socialised > .FlattrButton {
    display: inline-block;
    width: 120px;
}

.clear {
    clear: both;
}

article.page-content > iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

article img, article video, article > img, article > video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.illustration {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.shadow {
    box-shadow: 4px 4px 10px #888888;
}

.rounded {
    border-radius: 5px;
    border: solid 1px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

article .pull-left {
    margin-right: 25px;
    margin-bottom: 25px;
}

article .pull-right {
    margin-left: 25px;
    margin-bottom: 25px;
}

.taglist {
    margin-bottom: 10px;
    float: right;
    clear: both;
    max-width: 100px;
    text-align: right;
}

.project-logo {
    max-width: 80px;
    max-height: 40px;
}

img.cv-logo {
    max-width: 100px;
    max-height: 60px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#blog-footer {
    margin-top: 75px;
}

#thgtp-form {
    margin-top: 50px;
}

#social-logos {
    text-align: right;
    margin-bottom: 20px;
    text-align: center;
}

#social-logos img {
    margin-top: 4px;
    display: inline;
}

#btn-print {
    float: right;
}

footer {
    font-size: 0.8em;
    padding: 10px;
    clear: both;
    text-align: center;
}

#BigFlattrButton {
    float: right;
    margin-left: 12px;
}

.rss-logo {
    float: right
}

table tr.inactive {
    background: #f7f7f7;
}

pre {
    clear: both;
    margin-bottom: 0px;
}

/* Software/projects listing */

img.listing-logo {
    max-height: 60px;
    max-width: 120px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 12px;
    float: right;
}

.listing-entry {
    line-height: 20px;
    height: 200px;
    text-align: justify;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 25px;
}

.listing-entry:hover {
    background: whiteSmoke;
}

.listing-entry h2 {
    line-height: 60px;
    text-align: center;
}

/* References listing */

img.reference-logo {
    max-height: 50px;
    max-width: 120px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin: auto;
    display: inline;
}

.reference {
    height: 150px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.reference:hover {
    background: whiteSmoke;
}

.reference h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50px;
    text-align: center;
}

/* Freelance */

#speech {
    margin-top: 40px;
    margin-bottom: 20px;
}

#speech img {
    max-width: 50px;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.media {
    margin-bottom: 40px;
}

.media > a {
    width: 112px;
}

img.media-object {
    max-width: 112px;
    max-height: 112px;
}

.nav-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Stuff */

.row {
    margin-bottom: 10px;
}

#banner{
    height: 149px;
    width: 149px;
    overflow:hidden;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 10000;
}

#banner a{

    display: block;
    width: 190px;
    font-size: 14px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
    Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    background-color: #333;
    color: #FFF;
    word-spacing: 2px;
    text-decoration: none;
    padding: 5px 15px 5px 25px;

    position:relative;
    left: 20px;
    top: -37px;
    text-align: center;

    -moz-transform-origin: 0 0 ;
    -moz-transform:rotate(45deg);
    -moz-box-shadow:    1px 1px 5px 1px #666;

    -webkit-transform-origin: 0 0 ;
    -webkit-transform:rotate(45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;

    -ms-transform-origin: 0 0 ;
    -ms-transform:rotate(45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;

    transform-origin: 0 0 ;
    transform:rotate(45deg);
    box-shadow: 1px 1px 5px 1px #666;

    background-image: linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -o-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -moz-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -webkit-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -ms-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, #1073ed),
        color-stop(0.05, #b5c7de),
        color-stop(0.07, #5b90d0),
        color-stop(0.93, #4382cf),
        color-stop(0.95, #b5c7de),
        color-stop(0.97, #1272e8)
    );
}

.posts-list img {
    margin: 0;
}

/* Bio on side */

.bio {
    border: 0px;
    border-left: 1px;
    border-style: solid;
    border-color: #eee;
    padding-left: 20px;
}

.bio .illustration {
    width: 148px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


.bio .illustration > img {
    border-radius: 100px;
    border: 0px #333333 solid;
    max-width: 200px;
    max-height: 200px;
}

.bio > h2 {
    color: #333;
    text-align: center;
}

iframe[id*=twitter-widget].twitter-timeline {
    width: 234px;
}

img.flag {
    display: inline;
}