{% extends 'css3two_blog/blog_base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/gfm.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/article.css' %}" />
  <div class="blog-index">
	<article>
		<h2>Your message has been sent.</h2>
	</article>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock content %}
