<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>内推</title>
</head>
<body>
本人可以帮忙内推 Google <b>实习生</b>, 职位信息请参考
<a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NDk5MDU5OQ==&mid=400615745&idx=1&sn=518a3a23a16113c22d5a4bb890eb9fd7#rd">这里</a>
<p>
  第一个职位, 如果觉得自己足够牛逼, 也可以是 2017 年之后毕业的.<br>
  第二个职位主要是针对一般职场中, 或者说计算机行业中的少数群体来设置的, 面向低年级的学生.<br>
  一般来说是大一大二的女生, diversity 还包括很多方面, 少数族裔, 身体有残障的同学, LGBT群体, 等等.<br>
</p>

<p>
  需要你提供的信息包括(均为英文):<br>
  姓名<br>
  本科学校<br>
  硕士院校<br>
  目前的专业<br>
  即将获得的最高学位(BS/MS/PhD)<br>
  毕业时间(年/月)<br>
  邮箱<br>
  手机号<br>
  是否有其它公司实习 offer?<br>
  尽量详细地说明你的优势<br>
  如果有其它链接也请提供(包括但不限于做过的项目, GitHub, 个人网站)<br><br>
  把这些信息写在邮件正文中发到我的邮箱 laike9m@gmail.com, 并附上<u>简历</u>. 英文简历必须, 中文简历可选.
</p>
</body>
</html>