{% extends 'css3two_blog/blog_base.html' %}
{% load static %}
{% load markup %} <!-- markdown -->

{% block content %}
<div>
  <script type="text/javascript">
    //alert("{{ blogpost.display_html|truncatewords:'50' }}");
  </script>
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/gfm.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/article.css' %}" />
  {% for category, blogposts in data %}
    <article role="article">
      <header>
        <h1 class="entry-title">
          {% if category == "programming" %}
            Programming
          {% elif category == "acg" %}
            Anime & Manga & Game
          {% else %}
            No Category
          {% endif %}
        </h1>
      </header>
      {% for blogpost in blogposts %}
      <header>
        <p class="meta">
          <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
            {{ blogpost.pub_date.month }}&nbsp{{ blogpost.pub_date.day }}<span>th</span>, {{ blogpost.pub_date.year }}
          </time>
        </p>
        <h1 class="title-link"><a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a></h1>
      </header>
      {% endfor %}
    </article>
  {% endfor %}
</div>
{% endblock content %}
