<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>laike9m's blog</title>
  <meta name="description" content="laike9m's blog" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'css3two_blog/images/thumbnail.jpg' %}" media="screen" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/style.css' %}" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="{% static 'css3two_blog/js/modernizr-1.5.min.js' %}"></script>
</head>

<body>
  <div id="main" style="position: relative;">
    <a href="https://github.com/laike9m"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/blog">laike9m's<span class="logo_colour"> blog</span></a></h1>
          <h2>a Django website, built from scratch</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="/blog">Home</a></li>
            <li><a href="/blog/archive">Archives</a></li>
            <li><a href="/blog/siteinfo">About site&me</a></li>
            <li><a href="#">Opensource Projects</a>
              <ul>
                <li><a href="#">Drop Down One</a></li>
                <li><a href="#">Drop Down Two</a>
                  <ul>
                    <li><a href="#">Sub Drop Down One</a></li>
                    <li><a href="#">Sub Drop Down Two</a></li>
                    <li><a href="#">Sub Drop Down Three</a></li>
                    <li><a href="#">Sub Drop Down Four</a></li>
                    <li><a href="#">Sub Drop Down Five</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down Three</a></li>
                <li><a href="#">Drop Down Four</a></li>
                <li><a href="#">Drop Down Five</a></li>
              </ul>
            </li>
            <li><a href="/blog/contact">Contact me</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="site_content">

      <div class="content_container">
        <span class="toggle-sidebar"></span>
        <div class="content">
            {% block content %}
              Need to be filled by each page.     <!-- content should be written by myself  -->
            {% endblock content %}
        </div>
      </div>


      <aside id="sidebar_container">
        <div class="sidebar">
          <div class="bio" data-twttr-id="twttr-sandbox-0">
            <div class="illustration">
              <img src="/static/css3two_blog/images/thumbnail.jpg" width=150px alt="laike9m">
            </div>
            <h2>Hi, I'm laike9m</h2>
            <div class="clear"></div>
            <p>
              Graduate student of
              <a href="http://english.ict.cas.cn/">
              <strong>Institute of Computing Technology Chinese Academy of Sciences</strong>
              </a>
              , <strong>free Software developer</strong>
              , <strong>nijikon</strong>, crazy <strong>Atlético Madrid supporter</strong>
            </p>
            <p>
              <strong>member</strong> of
              <strong><a href="https://github.com/mirrors-cas">CAS
                Open Source Mirror</a></strong> Project, though have done nothing at the moment
            </p>
            <p>
              Mainly use <strong><a href="http://python.org">Python</a></strong>
              for my own projects (including <em>this <strong>Django</strong> site</em>),
              and C++ for work. Trying to master Javascript.
            </p>
            <div id="social-logos">
              <a href="/contact">
              <img src="{% static 'css3two_blog/images/webicon-mail-m.png' %}" alt="E-mail">
              </a>
              <a href="">
              <img src="{% static 'css3two_blog/images/webicon-rss-m.png' %}" alt="RSS feed">
              </a>
              <a href="https://github.com/laike9m" title="laike9m on GitHub">
              <img src="{% static 'css3two_blog/images/webicon-github-m.png' %}" alt="GitHub logo">
              </a>
              <a href="" title="laike9m on Twitter">
              <img src="{% static 'css3two_blog/images/webicon-twitter-m.png' %}" alt="Twitter logo">
              </a>
              <a href="https://plus.google.com/u/0/+Yaolaike9mZuo/posts" title="laike9m on Google+">
              <img src="{% static 'css3two_blog/images/webicon-googleplus-m.png' %}" alt="Google+ logo">
              </a>
              <a href="http://www.linkedin.com/profile/view?id=242350350" title="laike9m on LinkedIn">
              <img src="{% static 'css3two_blog/images/webicon-linkedin-m.png' %}" alt="LinkedIn logo">
              </a>
            </div>
          </div>
        <!-- end about me -->
        </div>
      </aside>

    </div>

    <div id="scroll">
      <a title="Scroll to the top" class="top" href="#"><img src="{% static 'css3two_blog/images/top.png' %}" alt="top" /></a>
    </div>
    <footer id="site-footer">
      <p><a href="/">Home</a> | <a href="/blog/archive">Archives</a> | <a href="/blog/siteinfo">About</a> | <a href="">Projects</a> | <a href="/blog/contact">Contact</a></p>
      <p><a href="https://github.com/laike9m/My_Blog">SourceCode @ Github</a> | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
  </div>

  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="{% static 'css3two_blog/js/jquery-2.0.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'css3two_blog/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'css3two_blog/js/jquery.easing-sooper.js' %}"></script>
  <script type="text/javascript" src="{% static 'css3two_blog/js/jquery.sooperfish.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
      $('.top').click(function() {$('html, body').animate({scrollTop: 0}, 1000); return false;});
    });
    $('.toggle-sidebar').css("height", $(".content").prop('scrollHeight'));
    $('.toggle-sidebar').hover( // use jquery-ui
        function(){
            $(this).animate({ backgroundColor: '#EBEBEB' }, 10);
        },
        function(){
            $(this).animate({ backgroundColor: '#f0f0f0' }, 10);
        }
    );
    $.fn.clicktoggle = function(a, b) {
        return this.each(function() {
            var clicked = false;
            $(this).click(function() {
                if (clicked) {
                    clicked = false;
                    return b.apply(this, arguments);
                }
                clicked = true;
                return a.apply(this, arguments);
            });
        });
    };
    $('.toggle-sidebar').clicktoggle(
        function(){
            $('.content_container').css("margin-right", "11px");
            $(this).css("width", "19px");
            $('span.toggle-sidebar').addClass('alignright');
        },
        function(){  // return to original style
            $('.content_container').css("margin-right", "295px");
            $(this).css("width", "9px");
            $('span.toggle-sidebar').removeClass('alignright');
        }
    );
  </script>
  <!-- Clicky support -->
  <a title="Real Time Web Analytics" href="http://clicky.com/100698577"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100698577); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100698577ns.gif" /></p></noscript>
</body>
</html>
