{% extends 'css3two_blog/blog_base.html' %}
{% load static %}
{% load mytags %}

{% block head %}
  <script>
    let newHref;
    if (window.location.href.includes("%2C")) {
      newHref = window.location.href.replace("%2C", ",");
      window.location.replace(newHref);
    }
    if (window.location.href.includes("%2c")) {
      newHref = window.location.href.replace("%2c", ",");
      window.location.replace(newHref);
    }
  </script>
  <title>{{ blogpost.title }} - laike9m's blog</title>
  <meta name="description" content={{ blogpost.description }}>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@laike9m">
  <meta name="twitter:title" content="{{ blogpost.title }}">
  <meta name="twitter:description" content="{{ blogpost.description }}">
  <meta name="twitter:image" content="https://laike9m.com/static/css3two_blog/images/thumbnail.png">
{% endblock head %}

{% block content %}
  {% autoescape off %}
    <article>
      <header>
        <p class="meta">
          <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
            {{ blogpost.pub_date|date:'M'|upper }}
            {{ blogpost.pub_date|date:"dS"|upper|stripleadingzero }}, {{ blogpost.pub_date.year }}
          </time>
        </p>
        <h1 class="title"><b>{{ blogpost.title }}</b></h1>
      </header>
      {{ blogpost.display_html }}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        // https://help.disqus.com/en/articles/1717112-universal-embed-code
        (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://laike9m.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>
        Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript" rel="nofollow">
          comments powered by Disqus.
        </a>
      </noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </article>
  {% endautoescape %}

{% endblock content %}
