<!DOCTYPE html>
{% load static %}
<html lang="zh-Hans">
<head>
  {% block head %}
    <title>laike9m's blog</title>
    <meta name="description" content="分享关于技术，生活，ACG的点滴">
  {% endblock head %}
  <link rel="shortcut icon" type="image/x-icon"
        href="{% static 'css3two_blog/images/favicon2.ico' %}"/>
  <meta name="keywords" content="website keywords, website keywords"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXY9%26"
        rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400italic&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXY+/,'é"
        rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:700&text=PEAGSRLUVFYCOBNTJMDOH1234567890,'
        rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:700italic&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
        rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400&
              text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
        rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css3two_blog/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/article.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/gfm.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/hybrid.css' %}">
  {% block pagecss %}{% endblock pagecss %}
  <script>
    // Google Analytics
    window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      };
    ga.l = +new Date;
    ga('create', 'UA-69544114-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='//www.google-analytics.com/analytics.js'></script>
</head>

<body>
<div id="main" style="position: relative;">
  <a href="https://github.com/laike9m">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="{% static 'css3two_blog/images/forkme.png' %}"
         alt="Fork me on GitHub">
  </a>
  <header>
    <div id="logo">
      <div id="logo_text">
        <h1><a href="/blog">laike9m's<span class="logo_colour"> blog</span></a>
        </h1>
        <h2>Yuri Is Justice</h2>
      </div>
    </div>
    <nav>
      <div id="menu_container">
        <ul class="sf-menu" id="nav">
          <li><a href="/blog">Home</a></li>
          <li><a href="/blog/archive">Archives</a></li>
          <li><a href="/blog/about">About site&me</a></li>
          <li><a href="/blog/projects">Projects</a></li>
          <li><a href="/blog/talks">Talks</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="site_content">

    <div class="content_container">
      <span class="toggle-sidebar"></span>
      <div class="content">
        {% block content %}
          Need to be filled by each page.
          <!-- content should be written by myself  -->
        {% endblock content %}
        <br>
      </div>
    </div>


    <aside id="sidebar_container">
      <div class="sidebar">
        <div class="bio" data-twttr-id="twttr-sandbox-0">
          <div class="illustration">
            <img src="/static/css3two_blog/images/thumbnail.png" alt="laike9m">
            <h2 id="hi" style="font-size: 28px">Hi, I'm laike9m</h2>
          </div>
          <div class="clear"></div>
          <p>
            Software Engineer at Google
            <br>Free Software developer
            <br>Founder of <a href="http://pythonhunter.org">捕蛇者说</a> podcast
            <br>I code in Python, C++, JavaScript/Node.js
          </p>
          <!-- StackExchange User Flair http://stackoverflow.com/users/flair -->
          <a href="http://stackoverflow.com/users/2142577/laike9m"
             target="_blank">
            <img src="https://stackoverflow.com/users/flair/2142577.png"
                 width="208" height="58"
                 alt="profile for laike9m on Stack Exchange, a network of free, community-driven Q&amp;A sites"
                 title="profile for laike9m on Stack Exchange, a network of free, community-driven Q&amp;A sites">
          </a>
          <div id="social-logos">
            <a href="mailto:laike9m@gmail.com" target="_blank">
              <img src="{% static 'css3two_blog/images/webicon-mail-m.png' %}"
                   alt="E-mail">
            </a>
            <a href="http://laike9m.com/blog/rss" title="my feed"
               target="_blank">
              <img src="{% static 'css3two_blog/images/webicon-rss-m.png' %}"
                   alt="RSS feed">
            </a>
            <a href="https://github.com/laike9m" title="laike9m on GitHub"
               target="_blank">
              <img src="{% static 'css3two_blog/images/webicon-github-m.png' %}"
                   alt="GitHub logo">
            </a>
            <a href="http://stackoverflow.com/users/2142577/laike9m"
               title="laike9m on stackoverflow" target="_blank">
              <img src="{% static 'css3two_blog/images/webicon-stackoverflow-m.png' %}"
                   alt="GitHub logo">
            </a>
            <a href="https://twitter.com/laike9m" title="laike9m on Twitter"
               target="_blank">
              <img src="{% static 'css3two_blog/images/webicon-twitter-m.png' %}"
                   alt="Twitter logo">
            </a>
            <a href="http://bangumi.tv/user/laike9m" title="laike9m on Bangumi"
               target="_blank">
              <img src="{% static 'css3two_blog/images/webicon-bangumi-m.png' %}"
                   alt="Bangumi logo">
            </a>
          </div>
          <br/>
          <div id="blogroll" style="font-family: AlegreyaSansBold;">
            <h2 style="font-size:18px; color: #333333">Blogroll</h2>
            <p>
              <a href="https://binux.blog" target="_blank" class="blogroll">Binuxの杂货铺</a>
            </p>
            <p>
              <a href="https://blog.lilydjwg.me" target="_blank"
                 class="blogroll">依云's Blog</a>
            </p>
            <p>
              <a href="http://zhangxiaoyang.me" target="_blank"
                 class="blogroll">zhangxiaoyang.me</a>
            </p>
            <p>
              <a href="http://tianjun.me" target="_blank" class="blogroll">Tian
                Jun</a>
            </p>
            <p>
              <a href="http://bambooom.github.io" target="_blank"
                 class="blogroll">Bambooom</a>
            </p>
            <p>
              <a href="https://www.pluvet.com" target="_blank"
                 class="blogroll">pluvet</a>
            </p>
            <p>
              <a href="https://www.kawabangga.com" target="_blank"
                 class="blogroll">卡瓦邦噶！</a>
            </p>
            <p>
              <a href="https://changchen.me" target="_blank"
                 class="blogroll">daya0576's Blog</a>
            </p>
            <p>
              <a href="http://blog.chyroc.cn/" target="_blank"
                 class="blogroll">Chyroc的博客</a>
            </p>
            <p>
              <a href="http://woodenrobot.me/" target="_blank"
                 class="blogroll">woodenrobot</a>
            </p>
            <p>
              <a href="http://www.zlovezl.cn/" target="_blank"
                 class="blogroll">Piglei</a>
            </p>
            <p>
              <a href="http://yonghaowu.github.io/" target="_blank"
                 class="blogroll">YongHao Hu</a>
            </p>
            <p>
              <a href="https://manjusaka.itscoder.com/" target="_blank"
                 class="blogroll">Manjusaka</a>
            </p>
            <p>
              <a href="https://www.vimiix.com" target="_blank"
                 class="blogroll">Vimiix's blog</a>
            </p>
            <p>
              <a href="https://flandre-scarlet.moe/blog/" target="_blank"
                 class="blogroll">Re: Memory</a>
            </p>
            <p>
              <a href="https://vimjc.com" target="_blank"
                 class="blogroll">vim教程网</a>
            </p>
            <p>
              <a href="https://yeah.moe" target="_blank"
                 class="blogroll">Yeah.萌</a>
            </p>
            <p>
              <a href="https://www.usegitflow.com" target="_blank"
                 class="blogroll">Chaoyi Feng</a>
            </p>
            <p>
              <a href="https://darkof.me" target="_blank"
                 class="blogroll">Adam Wen's Blog</a>
            </p>
            <p>
              <a href="https://chaomai.github.io/archives" target="_blank"
                 class="blogroll">chaomai's blog</a>
            </p>
            <p>
              <a href="https://www.qtmuniao.com" target="_blank"
                 class="blogroll">Muniao's blog</a>
            </p>  
            <p>
              <a href="https://www.dongwm.com" target="_blank"
                 class="blogroll">小明明s à domicile</a>
            </p>
            <p>
              <a href="https://shidenggui.com" target="_blank"
                 class="blogroll">Shidenggui</a>
            </p>
            <p>
              <a href="https://shidenggui.com" target="_blank"
                 class="blogroll">Shidenggui</a>
            </p>
            <p>
              <a href="https://frostming.com" target="_blank"
                 class="blogroll">Frost's Blog</a>
            </p>
            <p>
              <a href="https://stone.moe" target="_blank"
                 class="blogroll">StoneMoe's Blog</a>
            </p>
            <p>
              <a href="https://blog.blanc.site" target="_blank"
                 class="blogroll">一只小白</a>
            </p>
            <p>
              <a href="http://www.shuizilong.com" target="_blank"
                 class="blogroll">某岛</a>
            </p>
          </div>
          <p>
            <a style="font-style: normal" target="_blank" href="https://m.do.co/c/a582fa751343">
              注册 DigitalOcean 领 $10 代金券</a>
          </p>
        </div>
        <!-- end about me -->
      </div>
    </aside>

  </div>

  <div id="scroll">
    <a title="Scroll to the top" class="top" href="#">
      <img src="{% static 'css3two_blog/images/top.png' %}" alt="top"/>
    </a>
  </div>
  <footer id="site-footer" style="padding-bottom: 20px">
    <p>
      <a href="/">Home</a> |
      <a href="/blog/archive">Archives</a> |
      <a href="/blog/about">About</a> |
      <a href="">Projects</a> |
    </p>
    <p>
      <a href="https://github.com/laike9m/My_Blog">SourceCode@Github</a> |
      <a href="https://www.digitalocean.com/?refcode=a582fa751343">Hosted on
        DigitalOcean</a> |
      <a href="http://www.css3templates.co.uk">design from
        css3templates.co.uk</a>
    </p>
  </footer>
</div>

<!-- javascript at the bottom for fast page loading -->
<script src="https://cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.ui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
  var sidebar = $('.toggle-sidebar');
  $(document).ready(function () {
  });
  $(window).load(function () {
    $('.top').click(function () {
      $('html, body').animate({scrollTop: 0}, 1000);
      return false;
    });
    // run this only after the entire page has loaded to get real height
    var toggle_height = $(".content").prop('scrollHeight') + 13.7;
    sidebar.css("height", toggle_height);
  });
  sidebar.hover( // use jquery-ui
    function () {
      $(this).animate({backgroundColor: '#EBEBEB'}, 10);
    },
    function () {
      $(this).animate({backgroundColor: '#f0f0f0'}, 10);
    }
  );
  $.fn.clicktoggle = function (a, b) {
    return this.each(function () {
      var clicked = false;
      $(this).click(function () {
        if (clicked) {
          clicked = false;
          return b.apply(this, arguments);
        }
        clicked = true;
        return a.apply(this, arguments);
      });
    });
  };
  sidebar.clicktoggle(
    function () {
      $('.content_container').css("margin-right", "11px");
      $(this).css("width", "19px");
      $('span.toggle-sidebar').addClass('alignright');
    },
    function () {  // return to original style
      $('.content_container').css("margin-right", "295px");
      $(this).css("width", "9px");
      $('span.toggle-sidebar').removeClass('alignright');
    }
  );
</script>
</body>
</html>
