{% extends 'css3two_blog/blog_base.html' %}
{% load static %}
{% load markup %} <!-- markdown -->

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/gfm.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css3two_blog/css/article.css' %}" />
<div class="blog-index">
{% for blogpost in blogposts %}
    {% autoescape off %}
      <article>
        <header>
          <p class="meta">
            <time pubdate="{{ blogpost.pub_date }}" data-updated="{{ blogpost.last_edit_date }}">
              {{ blogpost.pub_date.month }}&nbsp{{ blogpost.pub_date.day }}<span>th</span>, {{ blogpost.pub_date.year }}
            </time>
          </p>
          <h1 class="title-link"><a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a></h1>
        </header>
        {{ blogpost.display_html }}
        <p align="right" style="padding-right: 2em"><a href="{{ blogpost.get_absolute_url }}">Continue Reading</a></p>
      </article>
    {% endautoescape %}
{% endfor %}
</div>
{% endblock content %}
